

body {background-image: linear-gradient(to bottom, rgba(0,0,0,0.9) 0%,rgba(0,0,0,0.9) 100%),url(../figuras/tvshow.jpg);} 
h3 {color:purple;}
h4 {color:#9aeae3;}
p {color:white; font-size:14pt; font-family:"Verdana",sans-serif;}
<meta charset='utf-8'>

table.ceter { 

	margin-left:auto;
	margin-right:auto;
	